* {
    padding: 0;
    margin: 0;
} 
.navbar{
    display: flex;
    background-color: #413d3d;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}

.nav-logo {
    margin-right: 350px;
}

.nav-list{
    display: flex;
    list-style-type: none;
    
}

.navbar a {
    text-decoration: none;
    color: white;
}
.navbar a:hover{
    color:aquamarine;
}
.list-item1 {
    padding-right: 20px;
}
.list-item2 {
    padding-right: 20px;
    }
.list-item3 {
    
}
.container {
    background-color: red;
    color: white;
    display: flex;
    flex-direction: column;   
}
.flex-item {
    flex: 1 1;
}
