* {
    padding: 0;
    margin: 0;
} 
.menu{
    background-color: rgb(13, 14, 14);
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: space-between; 
    align-items: center;   
}

.name {
    padding: 26px;
}

.links ul{
    display: flex;
    list-style: none;    
}
a {
    text-decoration: none;
    color: white;

}
a:hover{
    background: gray;
    

}

.links ul li {
    padding: 10px;

}
.img{
    background-image: url(photo.jpeg);
    background-size: cover;
}
.dan{
    margin: 50px;
    padding-left: 500px;

    text-align: center;
    color: bisque;
}
