*{
    padding:0;
    margin:0;
 } 
.menu{
    background-color: rgb(0, 0, 0);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name{
    padding: 26px;
    font-size: x-large;
}
.links ul{
    display: flex;
    list-style: none;
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
}
.links ul li{
    padding: 10px;
   }
   