* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(0, 0, 0);
}
.menu {
  background-color: rgba(109, 122, 122, 0.63);
  height: 60px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul li a {
  text-decoration: none;
  color: rgb(247, 241, 241);
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
}
ul li {
  list-style: none;
  padding: 12px;
}
.menu ul li a:hover {
  background: #fff;
  color: black;
}
.name {
  margin: 10%;
  font-size: 35px;
  font-weight: 600;
}
.name a {
  color: #fff;
  text-decoration: none;
}
.links ul {
  display: flex;
  list-style: none;
}

.links ul li {
  padding: 10px;
}
